/* Reset CSS Moderno */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fonte-quicksand);
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  img, picture, video, canvas, svg {
    max-width: 100%;
    display: block;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  button {
    cursor: pointer;
    border: none;
    background: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }
  